<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-2 col-md-offset-5 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Advanced Budget
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Welcome! to another budget application.</h2>
		<p>Making awesome stuff is amazingly easy using this thingy</p>
		<p>Instant excellence is at hand</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>
				Edit your users module.
			</li>
			<li>
				Add new CRUD modules.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ccounts
			</h2>
			<p><a target="_blank" href="#!/accounts">Accounts</a> Here you add your accounts, savings accounts, credit, debit and others. When you have added some incomes and expenses you can look here to make sure you are not running out of funds.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>C</strong>ategories
			</h2>
			<p><a target="_blank" href="#!/categories"> Categories</a> Here you create categories to use in your budget. You can create any category you need. When you have added some expenses you can verify that you are not out of budget here</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>I</strong>ncomes
			</h2>
			<p><a target="_blank" href="#!/incomes"> Incomes</a> Here you add your incomes and tie them to the corresponding accounts.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>E</strong>xpenses
			</h2>
			<p><a target="_blank" href="#!/expenses">Expenses</a> Here you add your expenses, the expenses are tied both to accounts and categories.</p>
		</div>
	</div>
	<div class="well">
		<h2>MEAN.JS Documentation</h2>
		<p>
			Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
				</li>
				<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The MEAN.JS Team.
</section>