<section data-ng-controller="AccountsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Account</h1>
    </div>
    <div class="col-md-4">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group well">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="account.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="desc">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="account.desc" id="desc" class="form-control" placeholder="Description" required>
                    </div>
                    <label class="control-label" for="showRates">Edit interest rates:</label>
                    <input id="showRates" type="checkbox" ng-model="showInterestRates" ng-init="showInterestRates=true"><br/>
                    <div ng-if="showInterestRates" >
                        <div class="ratesGrid" ui-grid-edit ui-grid="gridOptions" external-scopes="$scope"></div>
                        <button class="btn-small" type="button" ng-click="addInterestItem()" >Add Rate</button>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Store Updates" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>