
<section data-ng-controller="AccountsController" data-ng-init="calculateOne()">
	<div class="page-header">
		<h1 data-ng-bind="account.name"></h1>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{true:'active'}[show === 'home']"><a ng-click="show='home'">Info</a></li>
            <li role="presentation" ng-class="{true:'active'}[show === 'list']"><a ng-click="show='list'">Transactions List</a></li>
            <li role="presentation" ng-class="{true:'active'}[show === 'graph']"><a ng-click="showGraph()">Graphs</a></li>
        </ul>
        <div ng-show="show=='home'">
            <a class="list-group-item" ng-class="" style="min-height: 100px;">
                <b class="pull-left">Description:</b> <b class="pull-right">Balance:</b></br>
                </br>
                <div class="pull-left">{{account.desc}}</div>
                <div class="label label-as-badge pull-right" ng-class="sumCashflows > 0 ? 'label-info': 'label-danger'" data-ng-bind="sumCashflows" style="margin-top:6px; margin-left:5px;"></div>
            </a>
        </div>


        <div ng-show="show=='list'">
            <a data-ng-repeat="cashflow in cashflows" data-ng-href="" class="list-group-item">
                <span class="label label-as-badge pull-right" ng-class="cashflow.amount > 0 ? 'label-info': 'label-danger'" data-ng-bind="cashflow.amount"></span>
                <h5 class="list-group-item-heading" data-ng-bind="cashflow.name"></h5>
                </br>
                <span ng-if="cashflow.isTransfer && cashflow.transferFromAccount" >(Transfer from: {{findAccountById(cashflow.transferFromAccount).name}})</span>
                <span ng-if="cashflow.isTransfer && cashflow.transferToAccount" >(Transfer to: {{findAccountById(cashflow.transferToAccount).name}})</span>

                <div class="pull-right date-badge">
                    <b>Date:</b> <span data-ng-bind="cashflow.date| date:'mediumDate'"></span>
                    <span ng-if="cashflow.yearly">(Yearly)</span>
                    <span ng-if="cashflow.monthly">(Monthly)</span>
                </div>
            </a>
            <a class="list-group-item" ng-class="">
                <span class="label label-as-badge pull-right" ng-class="sumCashflows > 0 ? 'label-info': 'label-danger'" data-ng-bind="sumCashflows"></span>
                <h4>Sum:</h4>

            </a>
        </div>

        <div ng-show="show=='graph'">
            <div class="charts" style="text-align: center" >
                <div class="pie-group list-group-item" data-ng-if="transactions_graph_values_ && transactions_cumulative_graph_values_">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" ng-class="graphGrain === 'day' ? 'active':''" ng-click="updateGraphGrain('day')">Day</button>
                        <button type="button" class="btn btn-primary" ng-class="graphGrain === 'month' ? 'active':''" ng-click="updateGraphGrain('month')">Month</button>
                        <button type="button" class="btn btn-primary" ng-class="graphGrain === 'year' ? 'active':''" ng-click="updateGraphGrain('year')">Year</button>
                    </div>
                    <h3>Transactions</h3>
                    <canvas id="bar" class="chart chart-bar" data="transactions_graph_values_" labels="transactions_graph_labels_" options="transactions_graph_options"
                            legend="false" click="onClick"></canvas>

                    <h3>Cumulative</h3>
                    <canvas id="line" class="chart chart-line" data="transactions_cumulative_graph_values_" labels="transactions_graph_labels_"
                        legend="false" click="onClick"></canvas>
                </div>
                <h4>Grand total: {{sumCashflows}}</h4>
            </div>
        </div>



        <!--div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == account.user._id))" style="margin-bottom: 6px;"-->
        <div class="pull-right" data-ng-show="(authentication.user)" style="margin-bottom: 6px;">
            </br>
            <a class="btn btn-primary" href="/#!/accounts/{{account._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i> Edit Account
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i> Remove Account
            </a>
        </div>



	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="account.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="account.user.displayName"></span>
		</em>
	</small>

</section>
