<section data-ng-controller="CategoriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Categories</h1>
    </div>

    <div class="list-group">
        <div class="list-group-item">
            <label style="margin-top:12px; margin-bottom: 12px;">Budget Range:</label>

            <div class="grain-selector" style="">
                <span class="btn-group dropdown" style="margin: 2px;">
                    <button type="button" class="btn btn-default btn-sm ">{{graphGrain | capitalize}}ly</button>
                    <button type="button" class="btn btn-default dropdown-toggle btn-sm " data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a  ng-class="graphGrain === 'month'? 'active' : '' " ng-click="updateGraphGrain('month')">Monthly</a></li>
                        <li><a  ng-class="graphGrain === 'year'? 'active' : '' " ng-click="updateGraphGrain('year')">Yearly</a></li>
                    </ul>
                </span>
            </div>
            <div class="month-selector">
                <label style="margin-top:12px; margin-bottom: 12px;">History:</label>
                <div class="input-group input-group-sm" style="margin: 2px;">
                    <input type="number" class="input-group-addon" maxlength="4" size="4" min="0" max="{{maxSelectableYear()}}" data-ng-model="selectedYear" ng-change="selectedYearDidUpdate()" style="width: 76px; border-color: black; background-color: white; background-image: none; color: black;">
                    <button type="button" data-ng-hide="graphGrain === 'year'"  ng-repeat="month in all_months_arr" class="btn btn-primary input-group-addon" ng-class="{active: selectedMonth===month}" ng-disabled="!monthShouldBeSelectable(month)" ng-click="clickedMonthInMonthSelector(month)" style="width: 76px; border-color: black;">{{month}}</button>
                <!--/span-->
                </div>
            </div>
        </div>
        <a data-ng-repeat="category in categories" data-ng-href="#!/categories/{{category._id}}" class="list-group-item">
			<!--small class="list-group-item-text">
				Posted on
				<span data-ng-bind="category.created | date:'medium'"></span>
				by
				<span data-ng-bind="category.user.displayName"></span>
			</small-->
			<h4 class="list-group-item-heading" data-ng-bind="category.name"></h4>
            <h6 ng-if="category.amount">Budgeted amount: {{category.amount| number : 2}}</h6>
            <progressbar class="progress-striped" animate="true" max="100" value="(category.sum * 100 / category.amount)" type={{category.color}}></progressbar>
            <i>{{category.sum | number : 2}} / {{category.amount | number : 2}}</i>
        </a>


    <div class="charts" style="text-align: center" >
        <div class="pie-group list-group-item" data-ng-if="grand_total[1]>0">
            <h3>Actual consumption distribution:</h3>
            <canvas id="pie1" class="chart chart-pie" data="sum_chart_values" labels="categories_chart_labels"
                    legend="true" click="onClick"></canvas>
            <h4>Grand total: {{grand_total[1] | number : 2}}</h4>
        </div>
        <div class="pie-group list-group-item" data-ng-if="true">
            <h3>Budgeted distribution:</h3>
            <canvas id="pie2" class="chart chart-pie" data="amount_chart_values" labels="categories_chart_labels"
                    legend="true" click="onClick"></canvas>
            <h4>Grand total: {{grand_total[0] | number : 2}}</h4>
        </div>
    </div>
    </div>



    <div class="alert alert-warning text-center" data-ng-hide="!categories.$resolved || categories.length">
    	No Categories yet, why don't you <a href="/#!/categories/create">create one</a>?
    </div>
</section>