<section data-ng-controller="CategoriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="category.name"></h1>
        <h6>Budgeted amount: {{category.amount}} per month</h6>

    </div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == category.user._id))">
		<a class="btn btn-primary" href="/#!/categories/{{category._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i> Edit Category and Budget
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i> Remove Category
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="category.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="category.user.displayName"></span>
		</em>
	</small>
</section>
