<section data-ng-controller="ExpensesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Expenses</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="expense in expenses" data-ng-href="#!/expenses/{{expense._id}}" class="list-group-item">
            <span class="label label-warning label-as-badge pull-right" data-ng-bind="expense.amount"></span>
            <h4 class="list-group-item-heading" data-ng-bind="expense.name"></h4>
            <span ng-if="expense.isTransfer && expense.transferToAccount" >(Transfer to: {{findAccountById(expense.transferToAccount).name}})</span>

            </br>
            <div class="pull-right date-badge">
                <b>Date:</b> <span data-ng-bind="expense.date| date:'mediumDate'"></span>
                <span ng-if="expense.yearly">(Yearly)</span>
                <span ng-if="expense.monthly">(Monthly)</span>
            </div>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!expenses.$resolved || expenses.length">
    	No Expenses yet, why don't you <a href="/#!/expenses/create">create one</a>?
    </div>
</section>