<section data-ng-controller="ExpensesController" data-ng-init="findOne()">
	<div class="page-header">
        <span class="label label-warning label-as-badge pull-right" data-ng-bind="expense.amount"></span>

        <div class="col-md-3 pull-left" >
            <b>Name:</b> <span data-ng-bind="expense.name"></span></br>
            <b>To Account:</b><span ng-repeat="account in accounts | filter: {_id: expense.account}">
            <span data-ng-bind="account.name"></span>
            </span>
            </br>
        </div>
        <div class="col-md-2 pull-left" >
            <b>Date:</b> <span data-ng-bind="expense.date| date:'mediumDate'"></span>
            <div ng-if="expense.recurring">({{expense.recurring}})</div>
        </div>
        </br>
        </br>
    </div>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == expense.user._id))">
        <a class="btn btn-primary" href="/#!/expenses/{{expense._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="expense.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="expense.user.displayName"></span>
		</em>
	</small>
</section>
