.progress {
    height: 3em;
}
.progress i {
    line-height: 3.5em;
}
.progress-bar {
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.progress-button{
    margin-top: -18px;
}