.ratesGrid {
    height: 100px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
}
input[type=checkbox]:after {
    content: '▹';
}
input.open[type=checkbox]:after {
    content: '▿';
}

.graph{
    font-size: 10px
}